@page
@model IndexModel
@{
    ViewData["Title"] = "Веб Склад";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в WebWarehouse!</h1>
    <p>Здесь вы можете найти и посмотреть на товары в наличии на нашем складе.</p>
</div>
