@page
@model WebWarehouse.Pages.Product1Model
@{
}

<h2>@ViewData["Title"]</h2>

<form method="post">
<input type = "hidden" asp-for="Product.Id" />

    <div class = "form-group">
        <label asp-for = "Product.Name">Название товара</label>
        <input asp-for="Product.Name" type="text" class=" form-control" />
        <span asp-validation-for="Product.Name" class=" text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Product.Quantity">Количество товара</label>
        <input asp-for="Product.Quantity" type="number" class=" form-control" />
        <span asp-validation-for="Product.Quantity" class=" text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Product.Price">Цена товара</label>
        <input asp-for="Product.Price" type="number" class=" form-control" />
        <span asp-validation-for="Product.Price" class=" text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>

</form>